html {font-size: 62.5%;}
.cleafix {
  display: inline-block;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
}


.hr::after {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid #eee;
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .hr::after {
    transform: scaleY(.7);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .hr::after {
    transform: scaleY(.7);
  }
}
