html {font-size: 62.5%;}
body { margin: 0; }

.cleafix {
  display: inline-block;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
}

/* 1像素边框的实现 */

.hr, .col-line {
  position: relative;
}
.hr::after, .col-line::after{
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
}
.hr::after {
  left: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.col-line::after {
  right: 0;
  height: 100%;
  border-right: 1px solid #eee;
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .hr::after, .col-line::after {
    transform: scaleY(.7);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .hr::after, .col-line::after {
    transform: scaleY(.7);
  }
}
