/* 评价分类按钮 */
.rate-header {
  padding: 18px 0;
}
.rate-type {
  display: inline-block;
  padding: 8px 12px;
  margin-left: 8px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  border-radius: 2px;
}
.rate-type .num {
  font-size: 0.8rem;
  padding-left: 4px;
}
.rate-type:first-child {
  margin-left: 0;
}
.rate-type.type-0, .rate-type.type-all {
  background-color: rgba(0, 160, 220, 0.2);
  color: rgb(77, 85, 93);
}
.rate-type.type-1 {
  background-color: rgba(77, 85, 93, .2);
}
.rate-type.active {
  background-color: rgb(0, 160, 220);
  color: #fff;
}
/* 没有评价内容 */
.no-rate {
  margin-top: 8px;
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(77, 85, 93);
  line-height: 2.4rem;
  text-align: justify;
}
/* 只看内容按钮 */
.ctl-rate {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(147, 153, 159);
  line-height: 1.2rem;
}
.ctl-rate .icon {
  margin-right: 4px;
  font-size: 2.4rem;
}
/* 只看内容激活状态 */
.active {
  color: rgb(12, 171, 36);
  text-shadow: 1px 1px rgba(100,100,100,.3);
}
